* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.Search {
  margin: 0 auto;
  text-align: center;
  padding:10px;
}
#a {
  display:inherit;
}
.SQLsearch {
    float:right;
}
#pageheader {
  color:red;
  font-size:36px;
  text-align: center;

}
#pageheader small {
    color:orange;
    font-size: 24px;
}
.SQLbuild {
  float:left;
}
#customInput {
  width:25em;
}
.dateRange {
  display: inline-flex;
  margin-top: 10px;
  width: 100%;
}
#endDate {
  margin-left:1.5em;
}
